.signin-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.signin-form {
    display: flex;
    flex-direction: column;
}

.signin-input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signin-button {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

.signin-button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}
