/* Error404.css */

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
    margin-bottom: 0;
  }
  
  h2 {
    margin-top: 0;
  }
  
  p {
    font-size: 1.2rem;
    color: #888;
  }
  